@CHARSET "UTF-8";

html, body {
	height: 100%;
}

.error {
	color: rgb(255,0,0);
}

.errorBc {
	background: rgb(255,0,0);
}
.std table{
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	height:100%;
	min-height:100%;
	padding-bottom: 16em;
}

#body{
	min-height:100%;
	position: relative;
}

.login {
	background-color:rgb(120,100,250);
	margin-left: auto;
    margin-right: auto;
    float: center;
    width: 80%;
}

#tophead {
	margin-left:10%;
	margin-right:10%;
	background-color:rgb(120,255,150);
	position: top;
	text-align:centre;
}

.menu {
	position: fixed;
    display: block;
    float: left;
}

#footer {
	font-size:4pt;
	text-align:center;
	height:16pt;
	width:80%;
	margin-left:10%;
	margin-right:10%;
    position: fixed;
    display: block;
    bottom:0;
	background:rgb(255,100,100);
}