<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
			
	<!-- Customer Beans -->
	<bean id="customerDAO" class="org.pwr.transporter.server.dao.impl.CustomerDAOImpl">
		<property name="transactionManager" ref="transactionManager" />
	</bean>
	
	<bean id="customerLogic" class="org.pwr.transporter.server.business.CustomerLogic">
		<property name="customerDAO" ref="customerDAO" />
	</bean>
	
	<bean id="customerService" class="org.pwr.transporter.server.web.services.CustomerService" />
	
	<bean id="customerAccountValidator" class="org.pwr.transporter.server.web.validators.forms.CustomerAccountValidator" />
	
	<!-- Streat prefix -->
	<bean id="addrStreetPrefixDAO" class="org.pwr.transporter.server.dao.impl.enums.AddrStreetPrefixDAOImpl">
		<property name="transactionManager" ref="transactionManager" />
	</bean>
	
	<bean id="addrStreetPrefixLogic" class="org.pwr.transporter.server.business.enums.AddrStreetPrefixLogic">
		<property name="addrStreetPrefixDAO" ref="addrStreetPrefixDAO" />
	</bean>
	
	<bean id="addrStreetPrefixService" class="org.pwr.transporter.server.web.services.enums.AddrStreetPrefixService" />
	
	<!-- Country -->
	<bean id="countryDAO" class="org.pwr.transporter.server.dao.impl.CountryDAOImpl">
		<property name="transactionManager" ref="transactionManager" />
	</bean>
	
	<bean id="countryLogic" class="org.pwr.transporter.server.business.CountryLogic">
		<property name="countryDAO" ref="countryDAO" />
		<property name="companyDataDAO" ref="companyDataDAO" />
	</bean>
	
	<bean id="countryService" class="org.pwr.transporter.server.web.services.CountryService" />
	
	<!-- Company Data -->
	<bean id="companyDataDAO" class="org.pwr.transporter.server.dao.impl.CompanyDataDAOImpl">
		<property name="transactionManager" ref="transactionManager" />
	</bean>
	
	<bean id="companyDataLogic" class="org.pwr.transporter.server.business.CompanyDataLogic">
		<property name="companyDataDAO" ref="companyDataDAO" />
	</bean>
	
	<bean id="companyDataService" class="org.pwr.transporter.server.web.services.CompanyDataService" />
			

	<!-- Address -->
	<bean id="addressDAO" class="org.pwr.transporter.server.dao.impl.AddressDAOImpl">
		<property name="transactionManager" ref="transactionManager" />
	</bean>
	
	<bean id="addressLogic" class="org.pwr.transporter.server.business.AddressLogic">
		<property name="addressDAO" ref="addressDAO" />
	</bean>
	
	<bean id="addressService" class="org.pwr.transporter.server.web.services.AddressService" />
	<bean id="addressValidator" class="org.pwr.transporter.server.web.validators.AddressValidator" />
	
	<!-- Users -->
	<bean id="usersDAO" class="org.pwr.transporter.server.dao.impl.UsersDAOImpl">
		<property name="transactionManager" ref="transactionManager" />
	</bean>
	
	<bean id="usersLogic" class="org.pwr.transporter.server.business.UsersLogic">
		<property name="usersDAO" ref="usersDAO" />
	</bean>
	
	<bean id="usersService" class="org.pwr.transporter.server.web.services.UsersService" />
	
	<!-- Role -->
	<bean id="roleDAO" class="org.pwr.transporter.server.dao.impl.RoleDAOImpl">
		<property name="transactionManager" ref="transactionManager" />
	</bean>
	
	<bean id="roleLogic" class="org.pwr.transporter.server.business.RoleLogic">
		<property name="roleDAO" ref="roleDAO" />
	</bean>
	
	<bean id="roleService" class="org.pwr.transporter.server.web.services.RoleService" />
	
	<!-- UserRoles -->
	<bean id="userRolesDAO" class="org.pwr.transporter.server.dao.impl.UserRolesDAOImpl">
		<property name="transactionManager" ref="transactionManager" />
	</bean>
	
	<bean id="userRolesLogic" class="org.pwr.transporter.server.business.UserRolesLogic">
		<property name="userRolesDAO" ref="userRolesDAO" />
	</bean>
	
	<bean id="userRolesService" class="org.pwr.transporter.server.web.services.UserRolesService" />
	
	<!-- Employee -->
	<bean id="employeeDAO" class="org.pwr.transporter.server.dao.impl.EmployeeDAOImpl">
		<property name="transactionManager" ref="transactionManager" />
	</bean>
	
	<bean id="employeeLogic" class="org.pwr.transporter.server.business.EmployeeLogic">
		<property name="employeeDAO" ref="employeeDAO" />
	</bean>
	
	<bean id="employeeService" class="org.pwr.transporter.server.web.services.EmployeeService" />
</beans>